/*
	 svg: all animations
*/

/*
	 svg: postures
*/
svg #hands,
svg #feat {
	transition: fill 300ms ease-in-out;
}
svg:hover #hands {
	fill: hotpink;
}
svg:hover #feat {
	fill: green;
}

/*
	 svg: home
*/
.HomeImage {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 5vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.HomeImage svg {
	max-height: 100vh;
	width: 100%;
	height: 100%;
	fill: transparent;
	transition: fill 3000ms ease-in-out;
	pointer-events: all;
}
.HomeImage svg:hover {
	/* fill: black; */
}
.HomeImage svg:hover #mountains {
	/* fill: darkgray; */
}
.HomeImage svg:hover #yoga-mat-1 {
	/* fill: orange; */
}

.HomeImage #tree #flower-1 ellipse {
	transform-origin: center;
	animation: moveBloom;
	animation-duration: 1000ms;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-fill-mode: both;
	animation-play-state: running;
}

.HomeImage #tree #tree-trunk {
	/* transform-origin: center; */
	/* animation: moveTree; */
	/* animation-duration: 1000ms; */
	/* animation-timing-function: ease-in-out; */
	/* animation-delay: 0s; */
	/* animation-iteration-count: infinite; */
	/* animation-direction: alternate; */
	/* animation-fill-mode: both; */
	/* animation-play-state: running; */
}

svg #yoga-mat-1 {
	transition: all 200ms ease-in;
}

@keyframes moveBloom {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.01);
	}
}

@keyframes moveTree {
	0% {
		transform: translate(0.1%, 0.3%);
	}
	100% {
		transform: translate(0, 0);
	}
}
