:root {
	--font-size: 17px;

	--color-bg: cyan;

	--size: 2rem;
	--size-text-1: 1rem;
	--size-text-2: 1.2rem;
	--size-text-3: 1.5rem;
	--size-text-4: 1.7rem;
	--size-text-5: 2.3rem;
	--size-container: 70rem;
	--size-container-text: 50rem;
}
